In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("./dataset/train.csv")

In [9]:
# Dataset Description

In [14]:
df.shape

(404290, 6)

In [15]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [16]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
276218,276218,363441,39558,What are the most famous/popular local product...,What are the most famous/popular local product...,0
364640,364640,188592,215423,How do I clear bank exams?,How can I clear the bank exams after degree?,1
231473,231473,36087,45946,What is the weirdest dream you ever had?,What are the creepiest dreams you ever had?,1
189920,189920,132922,46127,How will Trump's presidency affect the Indian ...,How would it affect Indian students studying/w...,1
315776,315776,102110,16254,Has anyone found a way to make money using Quora?,How can I earn money on Quora?,1
123550,123550,199725,199726,Which app lets you watch live football for free?,Where can I watch live streaming football matc...,0
55022,55022,11463,97051,Is there a way to download videos from Faceboo...,What is the best and quickest way to download ...,1
91453,91453,153255,153256,What are the problems in cloud computing?,What problems can cloud computing solve?,0
119168,119168,193552,193553,Why can't we distribute the exponents over add...,What is an exponent in standard form?,0
180558,180558,200960,124461,How do you make hair grow faster overnight?,What the best way to make your short hair grow...,1

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [18]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [19]:
# Liter Dataset
df = df.sample(30000)

In [22]:
questions_df = df[['question1','question2']]

In [77]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import contractions

def tokenize(text):
    return word_tokenize(text)

def remove_stopwords(text):
    list_of_words = tokenize(text)
    _stopwords = set(stopwords.words("english"))
    filtered_list = [word + ' ' for word in list_of_words if word.casefold() not in _stopwords]
    return (''.join(filtered_list))[: -1] # to remove space at the end of string

def lemmatize(text):
    words = tokenize(text)
    lemmatizer = WordNetLemmatizer()
    lem_words = [lemmatizer.lemmatize(word, pos='v')+' ' for word in words]
    return (''.join(lem_words))[: -1] # to remove space at the end of string

def preprocessing(text):
    constructed_txt = contractions.fix(text) # Remove shortened words such as "we'd" and return them to original words
    lem_txt = lemmatize(constructed_txt) # lemmatize words to get the original ones
    free_stopwords_txt = remove_stopwords(lem_txt) # remove stopwords
    print(lem_txt)

preprocessing("besh is going to discovering of the scarves would've 5 pounds")

besh be go to discover of the scarves would have 5 pound

In [72]:
import session_info
session_info.show()